---
import BgAbout from '../icons/Bg_about.astro'
import About2_title from '../icons/About2_title.astro'
---

<section id="about" class="section text-secondary dark:text-primary    text-center " style="padding-left: 0px; padding-right: 0px;">    
    <h6 class="text-5xl   font-bold bg-dark text-center bg-secondary  pb-2  text-white  ">Acerca de</h6>
    <article class="flex  flex-col md:flex-row justify-center ">
        <span class="flex-1">            
            <BgAbout></BgAbout>               
        </span>
        <span class="flex-1 p-10 md:p-20 text-secondary dark:text-primary  ">
            <About2_title></About2_title>
       
            <p class=" pt-16  text-justify ">
                En CAD™, nos enorgullece ser una fusión armoniosa de ingenieros, desarrolladores, diseñadores y apasionados expertos en marketing. Nuestra sinergia se nutre de la diversidad de habilidades y perspectivas, poniendo énfasis en el arte, la ingeniería y las estrategias de marketing innovadoras.
                <br>
                <br>
                Somos artífices de experiencias cautivadoras, donde cada línea de código es una obra de arte y cada diseño está meticulosamente elaborado. Nuestra prioridad es fusionar la creatividad con la funcionalidad, construyendo puentes entre la estética, la ingeniería y el marketing.   
            </p>
        </span>

    </article>
        
   

</section>


