<section class="section_broad p-10" style="">
    <h2 class="text-6xl font-extrabold p-10 text-center">Stack Clothes</h2>
    <div class="grid grid-cols-2 md:grid-cols-1 gap-20">
        <article class="max-h-[500px] overflow-hidden">
            <div class="relative flex flex-row gap-2">
                <span class="h-full w-[70%]">
                    <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
                </span>
                <span class="relative grid grid-rows-2 gap-2 w-[34%] h-full ">
                    <span class=" h-full ">
                        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
                    </span>
                    <span class=" h-full ">
                        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
                    </span>
                </span>                
            </div>
            <h3>Dark Necessities</h3>
            <h5>Are part of my desing</h5>
        </article>
        <article class="max-h-[500px] overflow-hidden">
            <div class="relative flex flex-row gap-2">
                <span class="h-full w-[70%]">
                    <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
                </span>
                <span class="relative grid grid-rows-2 gap-2 w-[34%] h-full ">
                    <span class=" h-full ">
                        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
                    </span>
                    <span class=" h-full ">
                        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
                    </span>
                </span>                
            </div>
            <h3>Dark Necessities</h3>
            <h5>Are part of my desing</h5>
        </article>
        <article class="max-h-[500px] overflow-hidden">
            <div class="relative flex flex-row gap-2">
                <span class="h-full w-[70%]">
                    <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
                </span>
                <span class="relative grid grid-rows-2 gap-2 w-[34%] h-full ">
                    <span class=" h-full ">
                        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
                    </span>
                    <span class=" h-full ">
                        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
                    </span>
                </span>                
            </div>
            <h3>Dark Necessities</h3>
            <h5>Are part of my desing</h5>
        </article>
        <article class="max-h-[500px] overflow-hidden">
            <div class="relative flex flex-row gap-2">
                <span class="h-full w-[70%]">
                    <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
                </span>
                <span class="relative grid grid-rows-2 gap-2 w-[34%] h-full ">
                    <span class=" h-full ">
                        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
                    </span>
                    <span class=" h-full ">
                        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
                    </span>
                </span>                
            </div>
            <h3>Dark Necessities</h3>
            <h5>Are part of my desing</h5>
        </article>
        
    
    </div>
</section>


