---
import { team } from '../../config/team.json'
import Layout from '../../layouts/layout.astro';
import Icon from '../Icon.astro'
import defautlPerson from '../../imgs/castell.png'
const  url = "../../../public/imgs/team/"
console.log(team)
---




<div id="team" class="section">
    <span class="bg-current flex justify-center align-middle">
        <h6 class="text-5xl font-bold  text-center  pb-2 bg-transparent text-white  ">Team</h6>
    </span>
    <div class="flex flex-col ">
        <!-- wrapper team -->
        <div class="flex flex-col md:flex-row  justify-center   p-20 gap-16 md:gap-0" style="align-items: center;">
            {
                team.map((person) => (
                <div >
                    <div class="  p-0  m-4 border border-gray-200  shadow dark:bg-gray-800 dark:border-gray-700 hover:border-8 hover:border-cyan-300   " style=" border-radius: 100%; max-width: 200px; background-color: #e0e0e0; min-width: 160px;  max-width: 160px; min-height: 150px; max-height: 150px; overflow: hidden;">                                            
                        <img src={`${url}${person.image}`} width="100%"  alt="person image." />
                    </div>
                    
                    <a href="#" >
                        <h5 class="mt-10  font-semibold tracking-tight  bg-dark text-center text-white">{person.name}</h5>
                        <p class=" text-2xl text-base font-semibold tracking-tight   text-center ">{person.carrer}</p>
                    </a>
                </div>
                                
                ))                        
                
            }
        </div>
        
      
    </div>
    
</div>

