---
import Layout from "../layouts/layout.astro";
import Mensaje from "../components/CADD/Mensaje.astro";

---
<Layout title="404" subtitle="Go back">
  <div class="section " style="background: white; padding-top: 100px; min-height: 50vh;">
    <h1 class="text-6xl flex items-center justify-center dark:text-white"  >404 Sorry, this page does not exist.</h1>                  
  </div> 
  <Mensaje></Mensaje>

    
</Layout>
