---
import Layout from "../layouts/layout.astro";
import AdsAnimation from "../components/landing/About.astro";
import About from "../components/landing/About.astro";
import Team from "../components/landing/Team.astro";


---

<Layout
    title="Ads"
    subtitle="Anuncios y publicidad, asesorias, ingresos, ventas, catalogo productos, redes sociales, SEO, google ads "
>
    <section class=" text-secondary dark:text-primary">
       <About></About>
    </section>
    <section class="">
        <Team></Team>
     </section>
</Layout>
