---
import Layout from "../layouts/layout.astro";
import Carnet from "../components/resources/Carnet.astro";
---


<Layout title="UniKit" subtitle="Carnet Digital Unicauca">
  <section
    class="section flex flex-col gap-5 justify-between items-center"
    style="padding: 5.6vw"
    transition:name="homologacion"
  >
    <h1 class="text-secondary dark:text-white">Carnet Digital Unicauca</h1>
   
            <Carnet foto="https://www.researchgate.net/profile/Maria-Monreal/publication/315108532/figure/fig1/AS:472492935520261@1489662502634/Figura-2-Avatar-que-aparece-por-defecto-en-Facebook.png"
             nombres="Jane Doe" 
             apellidos="Last Names" 
             identificacion="0123456789" tipo_sangre="O+" rol="Estudiante" ></Carnet>                   

  </section>
</Layout>


