---
import Layout from "@/layouts/layout.astro";
import Carnet from "../components/resources/Carnet.astro";
---


<Layout title="UniKit" subtitle="Carnet Digital Unicauca">
  <section
    class="section flex flex-col gap-5 justify-between items-center"
    style="padding: 5.6vw"
    transition:name="homologacion"
  >
    <h1 class="text-secondary dark:text-white">Carnet Digital Unicauca</h1>
   
            <Carnet
             foto="https://eos.unicauca.edu.co/fotos-estudiantes-output/379d437bfab67b6b136600e52438f6b5e399fd1d.jpg" 
             nombres="Ivan Esteban"
             apellidos="Castillo Samboni"
             identificacion="1080265601"
             tipo_sangre="A+"
             rol="Estudiante"
            
            ></Carnet>                   

  </section>
</Layout>


