---
import Layout from "@/layouts/layout.astro";
---

<Layout>
    <section
        class="section flex flex-col md:flex-row gap-5 justify-between"
        style="padding: 5.6vw"
        transition:name="homologacion"
    >
        <h1 class="text-secondary dark:text-white">Homologacion</h1>
    </section>
</Layout>


