---
import Layout from "../layouts/layout.astro";
import LinksGenerator from "../components/resources/LinksGenerator.astro"
---

<Layout title="unikit" subtitle="Generador de links">
    <section
        class="section min-h-20 bg-green gap-5"
        style="gap: ; padding-top: 100px; height: max-content;  padding: 5.6vw; padding-top: 8vw;"
    >
        <h1 class="text-4xl uppercase" style="padding-bottom: 50px;">
            Generador de links
        </h1>

        <div class="gap-5 flex flex-col md:flex-row flex-wrap">
            <LinksGenerator 
            img_ruta="https://simca.unicauca.edu.co/simca/resources/images/logo-simca.png" 
            titulo="SIMCA"
            link="https://simca.unicauca.edu.co"
            />
     
            <LinksGenerator 
            img_ruta="https://www.gstatic.com/classroom/logo_square_rounded.svg" 
            titulo="Classroom"
            link="https://classroom.google.com/"
            />

            <LinksGenerator 
            img_ruta="https://www.gstatic.com/classroom/logo_square_rounded.svg" 
            titulo="Classroom"
            link="https://classroom.google.com/"
            />

            <LinksGenerator 
            img_ruta="https://www.gstatic.com/classroom/logo_square_rounded.svg" 
            titulo="Classroom"
            link="https://classroom.google.com/"
            />
            <LinksGenerator 
            img_ruta="https://www.gstatic.com/classroom/logo_square_rounded.svg" 
            titulo="Classroom"
            link="https://classroom.google.com/"
            />

            <LinksGenerator 
            img_ruta="https://www.gstatic.com/classroom/logo_square_rounded.svg" 
            titulo="Classroom"
            link="https://classroom.google.com/"
            />

            <LinksGenerator 
            img_ruta="https://www.gstatic.com/classroom/logo_square_rounded.svg" 
            titulo="Classroom"
            link="https://classroom.google.com/"
            />
            
        </div>
      
       
    </section>
</Layout>
