---
import Layout from "../layouts/layout.astro";
import AdsAnimation from "../components/pages/AdsAnimation.astro";
import CadAds from "../components/pages/CadAds.astro";
import Services from "../components/landing/Services.astro";

---

<Layout
    title="Anuncios"
    subtitle="Anuncios y publicidad, asesorias, ingresos, ventas, catalogo productos, redes sociales, SEO, google ads "
>
    <section class=" ">
       <Services></Services>
    </section>
</Layout>
