---
import ToolCard  from "../components/resources/ToolCard.astro"
import ProfilCard from "../components/resources/ProfilCard.astro"
---


<section
    class="section flex flex-col md:flex-row gap-5 justify-between"
    style="padding: 5.6vw; padding-top: 7vw;"
    
>
    <!-- perfil -->
  
    <ProfilCard></ProfilCard>
    <!-- procedimientos -->
    <div class="flex-1 text-center md:text-start md_text-start text-sm md:text-lg">
        <ul class="flex flex-row md:flex-row  gap-1 md:gap-5 md:flex-wrap">
            <li >
              <ToolCard></ToolCard>
            </li>
            <li>
                <ToolCard></ToolCard>
            </li>
           
    
        </ul>
    </div>
</section>
